.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 10px;
}

.new-task {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin-bottom: 20px;
}

.new-task .form-group {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .new-task {
    grid-template-columns: 1fr 1fr auto;
  }

  .new-task .form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }

  .new-task .form-group .form-control {
    flex-grow: 1;
  }
}

.tasks mat-card {
  margin-bottom: 10px;
}

.tasks mat-card.completed {
  opacity: 0.25;
}

.tasks mat-card.completed mat-card-title,
.tasks mat-card.completed mat-card-subtitle {
  text-decoration: line-through;
}
