.router-outlet {
  flex-grow: 1;
}

footer {
  background-color: var(--primary-color);
  color: var(--accent-color);
  padding: 0.5em 1em;
}

.spacer {
  flex: 1 1 auto;
}

mat-chip-listbox a {
  text-decoration: none;
}
